.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8vh;

    .img-box {
        width: 50%;
        background-image: url('../../assets/images/aboutUs_img1.jpg');
        background-position: center;
        background-size: cover;
    }

    .sentence-box {
        font-family: 'Cafe24Ohsquare';
        font-size: 20px;
        line-height: 40px;
    }
}