<div class="page">
    <div class="fx-row j-center a-center pd-top-30">
        <span class="font-60 font-w300">ㅈㅅ마루는..</span>
    </div>
    <div class="fx-row gap-50 pd-bottom-30">
        <div class="img-box">
            
        </div>
        <div class="w-half">
            <p class="sentence-box">
                안녕하세요 인테리어 및 바닥재 시공 및 보수전문 업체
                정성마루를 운영하고 있는 최정성 입니다.<br /><br />

                저희 정성마루는 평균 20년 이상 경력을 가진 팀장님들과
                젊은 감각과 트랜드를 빠르게 파악하고 추천드릴 수 있는
                제가 직접 시공하고 있습니다.<br /><br />

                저희는 무리한 일정 보다는 만족도 높은 시공을 원칙으로 하고 있습니다.
                소통과 고객 만족을 우선으로 생각하며 끊임없이 노력하고 있습니다.
            </p>
        </div>
    </div>
</div>