<div class="logo-box">
    <div class="logo"></div>
    <div class="button-box">
        <button mat-icon-button (click)="moveToLink('https://www.youtube.com/@sincerefloor/about')">
            <mat-icon svgIcon="youtube"></mat-icon>
        </button>
        <button mat-icon-button (click)="moveToLink('https://www.instagram.com/sincerefloor/')">
            <mat-icon svgIcon="instagram"></mat-icon>
        </button>
        <button mat-icon-button (click)="moveToLink('https://blog.naver.com/jsmaru97')">
            <mat-icon svgIcon="naver"></mat-icon>
        </button>
        <button mat-icon-button (click)="moveToLink('https://pf.kakao.com/_YSmxis')">
            <mat-icon svgIcon="kakao"></mat-icon>
        </button>
    </div>
</div>
<div class="menu-box">
    <button mat-button class="font-w300 font-16" routerLink="/">사업소개</button>
    <button mat-button class="font-w300 font-16" routerLink="/estimate">견적방법</button>
    <button mat-button class="font-w300 font-16" routerLink="/construction-order">공사순서</button>
    <button mat-button class="font-w300 font-16" routerLink="/construction-case">시공사례</button>
</div>