.logo-box {
    height: 80px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;

    .logo {
        width: 250px;
        height: 80px;
        background-image: url('../../assets/images/main_logo.svg');
        background-position: center;
        background-size: cover;
    }

    .button-box {
        position: absolute;
        right: 20vw;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.menu-box {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}